:root {
  --gutter-width: 0.25rem;

  --text-color: snow;
  --void-color: rgba(255, 255, 255, 0.6);

  --color-inactive: #777777;
  --color-hover: #999999;
  --color-active: #aaaaaa;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 13pt;
}

body {
  font-family: Helvetica, sans-serif;
  background-image: radial-gradient(circle at 20% 80%, #150000, black);
  color: var(--text-color);
  display: flex;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

div.input {
  background-color: rgba(63, 63, 63, 0.3);
  padding: 0.25em 0.75em 0.25em 1em;
  border-radius: 1em;
  display: flex;
}

div.input > input {
  width: 80%;
  flex: 1 1 auto;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1em;
  outline: none;
}

div.input > i {
  align-self: center;
  color: var(--color-inactive);
  font-size: 16pt;
  font-style: normal;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

div.input > i:not(:last-child) {
  margin-right: 0.25em;
}

div.input > i:hover {
  color: var(--color-hover);
}

div.input > i:active {
  color: var(--color-active);
}

input[type="checkbox"] {
  display: none;
}

button,
input[type="checkbox"] + span {
  color: inherit;
  background-color: #101010;
  border: 1px solid dimgray;
  opacity: 0.9;
  border-radius: 0.125em;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.25em 0.5em;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

button:hover,
input[type="checkbox"] + span:hover {
  opacity: 1;
  background-color: #151515;
}

button:active,
input[type="checkbox"] + span:active {
  opacity: 1;
  background-color: #202020;
}

input[type="checkbox"]:checked + span {
  background-color: red;
}

code {
  background-color: #222;
}

table {
  border-collapse: collapse;
}

.SideNav {
  margin: 1em 1em 0;
  flex: 0 0 15em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.SideNav > .input {
  margin-bottom: 1em;
}

.SideNav > .EmptyFilterList {
  flex: 1;
  margin: 0;
  color: var(--void-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
}

.SideNav > .EmptyFilterList > p {
  text-align: center;
}

.SideNav > .EmptyFilterList > p > code {
  cursor: pointer;
}

.SideNav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0.5em;
}

.SideNav > h5 {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  line-height: 2em;
  user-select: none;
  -moz-user-select: none;
}

.SideNav > h5:not(:nth-child(2)) {
  margin-top: 0.75em;
}

.SideNav > i {
  color: rgba(255, 255, 255, 0.5);
  margin: 0.5em 0;
  font-size: 0.9em;
}

.FilterList > li > span {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.FilterList > li > span:hover {
  text-decoration: underline dotted var(--void-color);
}

body > div.Playlist {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Controls,
.Metadata,
.TrackList {
  background-color: rgba(127, 127, 127, 0.15);
}

.TopBar {
  flex: 0 0 17.5em;
  display: flex;
  flex-direction: row-reverse;
}

.Info {
  flex: 1;
  margin-right: var(--gutter-width);
}

.Controls {
  flex: 1;
  padding: calc(var(--gutter-width) / 2);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Controls > * {
  margin: calc(var(--gutter-width) / 2);
}

.Metadata {
  flex: 0 1 5em;
  color: var(--void-color);
  margin-bottom: var(--gutter-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
}

.Metadata > span:first-child {
  color: var(--text-color);
}

.Player {
  width: 16.5em;
  display: flex;
  flex-direction: column;
}

.Player > img {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  -moz-user-select: none;
}

.TrackList {
  margin-top: var(--gutter-width);
  flex: 1;
  overflow-y: auto;
  user-select: none;
  -moz-user-select: none;
}

.TrackList > .EmptyTrackList {
  color: var(--void-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TrackList > table {
  font-size: 0.8em;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.TrackList > table > thead > tr > th {
  padding-top: 0.25em;
  position: sticky;
  top: 0;
  background-color: #222;
  z-index: 1;
  text-align: left;
}

.TrackEntry {
  line-height: 1.5em;
}

.TrackEntry:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.TrackEntry:active {
  background-color: rgba(255, 255, 255, 0.065);
}

.TrackEntry > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: calc(2 * var(--gutter-width));
  cursor: pointer;
}

.TrackEntry > td:first-child,
.TrackList > table > thead > tr > th:first-child {
  padding-left: calc(2 * var(--gutter-width));
}

.row-delete {
  width: 1em;
}

.row-title, .row-artist {
  width: 30%;
}

.row-album, .row-genre {
  width: 20%;
}

.row-year {
  width: 3em;
}

.TrackList > table > thead > tr > th:last-child {
  width: 1em;
}

.TrackEntry:hover > td > .rm-btn:after {
  content: "×";
  color: var(--color-inactive);
}

.TrackEntry > td:hover > .rm-btn:after {
  color: var(--color-hover);
}

.TrackEntry > td:active > .rm-btn:after {
  color: var(--color-active);
}
