html,
body,
#app,
.SplitPane {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-size: 18pt;
  font-family: Helvetica, sans-serif;
  background-image: radial-gradient(circle at 20% 80%, #150000, black);
  color: snow;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

div.input {
  background-color: rgba(63, 63, 63, 0.3);
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  border-radius: 1rem;
  display: flex;
}

div.input > input {
  width: 80%;
  flex: 1 1 auto;
  border: none;
  background-color: transparent;
  color: snow;
  font-size: 18pt;
  outline: none;
}

div.input > i {
  align-self: center;
  color: #777;
  font-size: 16pt;
  font-style: normal;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

div.input > i:hover {
  color: #999;
}

div.input > i:active {
  color: #aaa;
}

button {
  color: inherit;
  background-color: #111;
  border: 1px solid dimgray;
  opacity: 0.9;
  border-radius: 0.125rem;
  font-size: 0.8em;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  background-color: #151515;
}

table {
  border-collapse: collapse;
}

.SplitPane {
  display: flex;
}

.SideNav {
  flex: 0 0 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.SideNav > .input {
  margin: 1rem;
}

.SideNav > .EmptyFilterList {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SideNav > .FilterList,
.SideNav > .EmptyFilterList {
  flex: 1;
  margin: 0;
}

.SideNav > .FilterList {
  list-style: none;
}

.FilterList > .FilterHeader {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 2em;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
}

.FilterList > .FilterHeader:not(:first-child) {
  margin-top: 0.75em;
}

.FilterList > li.EmptyFilterSection {
  color: rgba(255, 255, 255, 0.5);
  margin: 0.5em 0;
}

.FilterList > li > span {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.FilterList > li > span:hover {
  text-decoration: underline dotted rgba(255, 255, 255, 0.7);
}

.Collection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ArtView,
.TrackList {
  background-color: rgba(127, 127, 127, 0.15);
}

.ArtView {
  flex: 0 0 15em;
}

.PaneDivider {
  height: 0.25rem;
}

.TrackList {
  flex: 1;
  overflow-y: auto;
}

.TrackList > .EmptyTrackList {
  color: rgba(255, 255, 255, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  white-space: pre-line;
}

.TrackList > table {
  font-size: 0.8em;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
}

.TrackList > table > thead > tr > th {
  padding-top: 0.25em;
  position: sticky;
  top: 0;
  background-color: #222;
  z-index: 1;
  text-align: left;
}

.TrackEntry {
  line-height: 1.5em;
}

.TrackEntry:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.TrackEntry:active {
  background-color: rgba(255, 255, 255, 0.065);
}

.TrackEntry > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.5rem;
  cursor: pointer;
}

.TrackEntry > td:first-child,
.TrackList > table > thead > tr > th:first-child {
  padding-left: 0.5rem;
}

.TrackEntry > td:last-child,
.TrackList > table > thead > tr > th:last-child {
  padding-right: 1.5rem;
}

.row-title, .row-artist {
  width: 30%;
}

.row-album, .row-genre {
  width: 20%;
}

.row-year {
  width: 3rem;
}
