html,
body,
#app,
.SplitPane {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-size: 18pt;
  font-family: Helvetica, sans-serif;
  background-image: radial-gradient(circle at 20% 80%, #150000, black);
  color: snow;
}

div.input {
  background-color: rgba(63, 63, 63, 0.3);
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  border-radius: 1rem;
  display: flex;
}

div.input > input {
  width: 80%;
  flex: 1 1 auto;
  border: none;
  background-color: transparent;
  color: snow;
  font-size: 18pt;
}

div.input > i {
  align-self: center;
  color: gray;
  font-size: 16pt;
  font-style: normal;
  cursor: pointer;
}

div.input > i.active {
  color: snow;
}

table {
  border-collapse: collapse;
}

.SplitPane {
  display: flex;
}

.SideNav {
  flex: 0 0 20rem;
  padding: 1rem;
}

.Collection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ArtView,
.TrackList {
  background-color: rgba(127, 127, 127, 0.15);
}

.ArtView {
  flex: 0 0 15em;
}

.PaneDivider {
  height: 0.25rem;
}

.TrackList {
  flex: 1;
  padding: 0.5em 0;
  overflow-y: auto;
}

.TrackList > table > thead {
  text-align: left;
}

.TrackEntry {
  line-height: 1.5em;
}

.TrackEntry > td:first-child,
.TrackList > table > thead > tr > th:first-child {
  padding-left: 0.5rem;
}

.TrackEntry > td:last-child,
.TrackList > table > thead > tr > th:last-child {
  padding-right: 1.5rem;
}

.TrackEntry:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
